<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
  <div class="col-12 col-lg-6">
      <img src="/img/node_js_project/hero_woman.jpg" alt="cooking hero" width="1200" height="800" class="d-block mx-lg-auto img-fluid" loading="lazy">
  </div>
   <div class="col-12 col-lg-6">
       <h1 class="display-5 fw-bold mb-3">
           Huge selection of delicios recipe ideas
       </h1>
       <p class="lead">
           Explore our huge selection of delicious recipe ideas including: breakfest ideas, quick & easy , delicios vegan & vegetarien dinner ideas, gorgeous pasta, family-friendly meals and many more!
       </p>
       <div class="d-grid gap-2 d-md-flex justify-content-md-start" >
           <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 mb-md-2">Explore Latest</a>
           <a href="/random-recipe" class="btn btn-outline-secondary  btn-lg px-4 mb-md-2">Show Random</a>
       </div>
   </div>
</div>

<!-- Categories start-->

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
 
    <a href="#" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="/img/node_js_project/bbq/burger-gef9cbf2b8_1920.jpg" alt="Categories-bbq" loading="lazy">
        </div>
        <div class="pt-1">Grill & BBQ</div>
    </a>

    <a href="#" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="/img/node_js_project/breakfest/georgian-eggs-gf63a6d7f8_1920.jpg" alt="Categories-breakfest" loading="lazy">
        </div>
        <div class="pt-1">Breakfest</div>
    </a>

    <a href="#" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="/img/node_js_project/pasta/pasta-g81d02b0f4_1920.jpg" alt="Categories-PASTA" loading="lazy">
        </div>
        <div class="pt-1">Pasta</div>
    </a>

    <a href="#" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="/img/node_js_project/snacks/pizza-g77c6a5079_1920.jpg" alt="Categories-pizza" loading="lazy">
        </div>
        <div class="pt-1">Snacks</div>
    </a>

    <a href="#" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="/img/node_js_project/desserts/creme-brulee-g434e311f3_1920.jpg" alt="Categories-desserts" loading="lazy">
        </div>
        <div class="pt-1">Dessert</div>
    </a>
    <a href="/categories" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="/img/node_js_project/starters/mussels-ge531b2b7c_1920.jpg" alt="Categories-view all" loading="lazy">
        </div>
        <div class="pt-1">View All</div>
    </a>
</div>

<!-- Categories end-->

<!-- Latest start-->

<section class="pb-4 pt-4">
 <div class="d-flex mb-2 align-items-center">
  <h2>Latest Recipes</h2>
  <a href="/explore-latest" class="ms-auto">View More</a>
 </div>

 <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

     <a href="/recepie/#" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
            <img src="/img/node_js_project/bbq/flesh-g0e7c4e59c_1920.jpg" alt="Categories-latest-bbq" loading="lazy">
        </div>
        <div class="pt-1">Best Cheeseburger</div>
     </a>

     <a href="/recepie/#" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
            <img src="/img/node_js_project/breakfest/sandwich-g393e16789_1920.jpg" alt="Categories-latest-breakfest" loading="lazy">
        </div>
        <div class="pt-1">Salmon Bagel</div>
     </a>


     <a href="/recepie/#" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
            <img src="/img/node_js_project/starters/spinach-g8fdd97dc0_1920.jpg" alt="Categories-latest-startes" loading="lazy">
        </div>
        <div class="pt-1">The Perfect Salad</div>
     </a>

     <a href="/recepie/#" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
            <img src="/img/node_js_project/snacks/food-g61378f995_1920.jpg" alt="Categories-latest-snacks" loading="lazy">
        </div>
        <div class="pt-1">Fish & Chips</div>
     </a>

     <a href="/recepie/#" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
            <img src="/img/node_js_project/starters/the-dining-board-g1c9c29ec6_1920.jpg" alt="Categories-latest-desserts" loading="lazy">
        </div>
        <div class="pt-1">Cheese Please</div>
     </a>
 </div>
</section>
<!-- Latest end-->

<!-- Submit start-->

<section class="px-4 py-5 my-5 text-center">


</section>


<!-- Submit end-->

